<footer>
  <div class="footer">
    <h4>This app was built for the Major Project of WD Feb 20 - Mar 20</h4>
    <h4>Group Google Classroom Name : WB2B2</h4>
    <p>Credits:
        <ul>
          <li>Kaustubh Sharma</li>
        </ul>
    </p>
  </div>
</footer>

</body>

</html>
