<footer>
    <div class="footer">
        <h4>This app was built for the Major Project of WD Feb 20 - Mar 20</h4>
        <h4>Group Google Classroom Name : WB2B2</h4>
        <p>Credits:
            <ul class="credits">
                <li>Kaustubh Sharma</li>
                <li>Suraj Srivastava</li>
            </ul>
        </p>
    </div>
</footer>
<script src="effects.js" type="text/javascript"></script>

</body>

</html>