<footer>
    <div class="footer">
        <h4>This app was built for the Major Project of WD Feb 20 - Mar 20</h4>
        <h4>Group Google Classroom Name : WB2B2</h4>
        <p>Credits:
            <ul class="credits">
                <li>Kaustubh Sharma -</li>
                <li>Suraj Srivastava -</li>
                <li>Muskan Rana -</li>
                <li>Viditha Avuthu -</li>
                <li>Sumana Reddy -</li>
                <li>Anshuman Upadhyay -</li>
                <li>Sparsh Agarwal -</li>
                <li>Sashi -</li>
                <li>Yash Parmar -</li>
                <li>Snehamol Balan -</li>
            </ul>
        </p>
    </div>
</footer>

</body>

</html>